src/test/resources/rate-limit-tests.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:rate-limiter="http://www.mulesoft.org/schema/mule/rate-limiter"
	  xmlns="http://www.mulesoft.org/schema/mule/core"
	  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/rate-limiter http://www.mulesoft.org/schema/mule/rate-limiter/current/mule-rate-limiter.xsd">

	<rate-limiter:rate-limiter-config name="Rate_limiter_unbounded_100ms" minTimeBetweenOperations="100" unit="MILLISECONDS" doc:name="Rate-limiter Rate limiter">
		<rate-limiter:buffer-ops >
			<rate-limiter:unbounded-buffer />
		</rate-limiter:buffer-ops>
	</rate-limiter:rate-limiter-config>

	<rate-limiter:rate-limiter-config name="Rate_limiter_bounded_100ms_buffer_5" minTimeBetweenOperations="100" unit="MILLISECONDS" doc:name="Rate-limiter Rate limiter">
		<rate-limiter:buffer-ops >
			<rate-limiter:bounded-buffer bufferSize="5" />
		</rate-limiter:buffer-ops>
	</rate-limiter:rate-limiter-config>
	<flow name="test-rate-limit">
		<set-payload value="#[%dw 2.0
&#10;output application/java
&#10;import * from dw::util::Timer
&#10;---
&#10;{
&#10;	a: currentMilliseconds()
&#10;}]" doc:name="a: currentMilliseconds()" />
		<rate-limiter:limit-rate doc:name="100ms" config-ref="Rate_limiter_unbounded_100ms"/>
		<set-payload value="#[%dw 2.0
&#10;output application/java
&#10;import * from dw::util::Timer
&#10;---
&#10;payload ++ {
&#10;	b: currentMilliseconds()
&#10;}]" doc:name="payload ++ b: currentMilliseconds()" />
		<rate-limiter:limit-rate doc:name="100ms" config-ref="Rate_limiter_unbounded_100ms"/>
		<set-payload value="#[%dw 2.0
&#10;output application/java
&#10;import * from dw::util::Timer
&#10;---
&#10;payload ++ {
&#10;	c: currentMilliseconds()
&#10;}]" doc:name="payload ++ c: currentMilliseconds()" />
		<rate-limiter:limit-rate doc:name="100ms" config-ref="Rate_limiter_unbounded_100ms"/>
		<set-payload value="#[%dw 2.0
&#10;output application/java
&#10;import * from dw::util::Timer
&#10;---
&#10;payload ++ {
&#10;	d: currentMilliseconds()
&#10;}]" doc:name="payload ++ d: currentMilliseconds()" />
	</flow>
	
	<flow name="test-delay">
		<set-payload value="#[%dw 2.0
&#10;output application/java
&#10;import * from dw::util::Timer
&#10;---
&#10;{
&#10;	a: currentMilliseconds()
&#10;}]" doc:name="a: currentMilliseconds()" />
		<rate-limiter:fixed-delay delay="100" unit="MILLISECONDS" doc:name="100ms" />
		<set-payload value="#[%dw 2.0
&#10;output application/java
&#10;import * from dw::util::Timer
&#10;---
&#10;payload ++ {
&#10;	b: currentMilliseconds()
&#10;}]" doc:name="payload ++ b: currentMilliseconds()" />
	</flow>
	
	<flow name="test-ratelimit-overflow-error">
		<parallel-foreach doc:name="Parallel For Each" collection="[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
			<rate-limiter:limit-rate doc:name="Limit rate - Buffer 5" config-ref="Rate_limiter_bounded_100ms_buffer_5" />
		</parallel-foreach>
	</flow>
</mule>
